h1 {
  font-size: medium;
  font-style: bold;
  text-align: center;
}
body {
  width: 400px;
  height: auto;
}

p {
  margin: 0;
}

#panel {
  border: 1px solid black;
  overflow:auto;
}

#thumbnail-container {
  border: 1px solid black;
  width: 28%;
  height: auto;
  float:left;
}

#thumbnail-element {
  width: 100%;
  height: auto;
}

#text-section {
  width: 70%;
  flex: 1;
  float: right;
  text-align: left;
}

#btn-container {
  border: 1px solid black;
  width: auto;
  height: auto;
  display: block;
  bottom: 0;
  clear: both;
  overflow:auto;
}

#btn-love-track {
  width: 10%;
  height: auto;
  display: inline;
  float: left;
}

.greyed-out { filter: grayscale(100%); }

